<nav class="site-nav">

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger">
    <span class="menu-icon">
      <svg width="30px" height="30px" viewBox="0 0 459 459">
        <path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z"/>
      </svg>
    </span>
  </label>

  <div id="side-menu">
    <div class="menu-title">
      <p>{{ site.title }} | {{ site.description }}</p>
    </div>

    {% if page.layout == "chapter" %}<span class="menu-item" id="annotateBtn">Annotation (hypothes.is)</span>{% endif %}
    <a class="menu-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="menu-item{% if page.url == '/about.html' %} active{% endif %}" href="{{ '/about.html' | relative_url }}">About</a>
    <a class="menu-item{% if page.url == '/data/' %} active{% endif %}" href="{{ '/data/' | relative_url }}">Data</a>
    <a class="menu-item{% if page.url == '/data/search.html' %} active{% endif %}" href="{{ '/data/search.html' | absolute_url }}">Search</a>
    <a class="menu-item{% if page.url == '/text/01toc.html' %} active{% endif %}" href="{{ '/text/01toc.html' | relative_url }}">Table of Contents</a>
    <ul class="chapters">
    {%- assign chapters = site.html_pages | where: "layout", "chapter" -%}
    {% for p in chapters %}
      <li class="menu-item chapter{% if page.chapter == p.chapter %} active active-chapter{% endif %}">
        <span class="">{{ p.chapter }}</span>
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
      </li>
    {% endfor %}
    </ul> 

    <a class="menu-item" href="{{ site.github-repo }}">Source Code</a>

    <div class="menu-title">
      <p>{{ site.site-date }} <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC BY-SA</a> {{ site.editors | join: ", " }}.</p>
    </div>

  </div>

</nav>
{% if page.layout == "chapter" %}
<script> 
document.getElementById("annotateBtn").addEventListener("click", function() { 
  window.hypothesisConfig = function () {
    return {
      "openSidebar": true
    };
  };
  var hypothesis = document.createElement('script');
  hypothesis.setAttribute('src','https://hypothes.is/embed.js');
  document.head.appendChild(hypothesis);
  document.getElementById("nav-trigger").checked = false;
});
</script>{% endif %}