/* cloud */
#cloud { 
    text-align: center;
    margin: 0px 10px 20px;
    padding: 0px 15px 0px;
    li {
        list-style: none;
        display: inline-block;
        //border: solid 1px $grey-color;
        padding: 2px 5px;
        margin: 4px 2px 2px 2px;
        line-height: 1;
    }
}
.cloud0 {font-size:0.7em;}
.cloud1 {font-size:1.1em;}
.cloud2 {font-size:1.5em;}
.cloud3 {font-size:1.9em;}
.cloud4 {font-size:2.3em;}
.cloud5 {font-size:2.7em;}
.cloud6 {font-size:3.1em;}
.cloud7 {font-size:3.5em;}
.cloud8 {font-size:3.9em;}
.cloud9 {font-size:4.3em;}
.cloud10 {font-size:4.7em;}
